body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }


}
.Title {
    text-align: center;
    color: #940837;
    font-size: 20px;
    margin: -5px;
}
.HomeFoter{
    text-align:end;
    font-size:large;
    padding:10px;
    margin:12px;
}
.panel-primary > .panel-heading {
    color: #fff;
    border-color: #1b1c1d;
    text-align: center;
    background-image: url('../images/ladda ned.jpg');
}
.backLayout {
    background-image: url('../images/ba2.jpg');
}
.body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    border-color: #337ab7;
    background-image: url('../images/ladda ned.jpg');
}

element.style {
    background-image: url('../images/ba2.jpg');
    
}
.panel-body {
    padding: 15px;
    background-image: url('../images/world.jpg');
    color:white;
}
