
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="login">
    <div class="heading">
        <h2>Please write your email and passowrd </h2>
        <form action="#">

            <div class="input-group input-group-lg">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span> </span>
                <input type="text" class="form-control" placeholder="Username or email">
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password" class="form-control" placeholder="Password">
            </div>

            <button class="btn btn-group-vertical"  type="submit" class="float">Login </button>
        </form>
    </div>
</div>