@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="contact" >
    <h2>Shehrman Ibrahim</h2>
   <div>
       <h4>
           Phone: 0765778055
           <br />
           Maile:sheero871020@gmail.com
       </h4>
   </div>
</div>
